ConnectionStrings__Database="..."
ConnectionStrings__Redis="..."

Jwt__Secret="..."
JWT__Issuer="..."
JWT__Audience="..."

MediaAWS__AccessKey="..."
MediaAWS__SecretKey="..."
MediaAWS__Region="..."
MediaAWS__ServiceURL="..."
MediaAWS__BucketName="..."
MediaAWS__ForcePathStyle=true

Mail__Server="smtp.gmail.com"
Mail__Port=587
Mail__SenderName="..."
Mail__SenderEmail="..."
Mail__Password="..."