ConnectionStrings__Database="..."
ConnectionStrings__Valkey="..."

Jwt__Secret="..."
JWT__Issuer="..."
JWT__Audience="..."

S3__AccessKey="..."
S3__SecretKey="..."
S3__Region="..."
S3__ServiceUrl="http://localhost:3900"
S3__PreSignUrl="http://localhost:3900"
S3__BucketName="..."

Mail__Server="smtp.gmail.com"
Mail__Port=587
Mail__SenderName="..."
Mail__SenderEmail="..."
Mail__Password="..."